# Load Dataset:

In [17]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [20]:
data = pd.read_csv('Anime.csv')

data = data.fillna(data.mean())
data = data.drop(['Japanese_name', 'Release_season', 'Description', 'Content_Warning', 'Related_Mange', 'Related_anime', 'Voice_actors', 'staff'], axis =1)
#data.head()

data['End_year'] = data['End_year'].round()
data['Rating'] = data['Rating'].round(2)
data['Episodes'] = data['Episodes'].round()

data = data.fillna('Unknown')

print(data)

print('-------------------------------------------------------')

data.info()

        Rank                                               Name   Type  \
0          1  Demon Slayer: Kimetsu no Yaiba - Entertainment...  TV
1          2                     Fruits Basket the Final Season  TV
2          3                                    Mo Dao Zu Shi 3  Web
3          4                   Fullmetal Alchemist: Brotherhood  TV
4          5                Attack on Titan 3rd Season: Part II  TV
...      ...                                                ...    ...
18490  18491  Qin Shi Mingyue: Canghai Hengliu Xiaomeng Spec...  Web
18491  18492                      Yi Tang Juchang: Sanguo Yanyi  TV
18492  18493          Fenghuang Ji Xiang Yu Qingming Shanghe Tu  TV
18493  18494                      Chengshi Jiyi Wo Men de Jieri  TV
18494  18495  Heisei Inu Monogatari Bow: Genshi Inu Monogata...  Movie

       Episodes                        Studio  \
0          21.0                      ufotable
1          13.0             TMS Entertainment
2          12.0              B.C MAY PICTURES
3          64.0                         Bones
4          10.0                    WIT Studio
...         ...                           ...
18490       2.0  Sparkly Key Animation Studio
18491     108.0                       Unknown
18492      13.0                       Unknown
18493      21.0                       Unknown
18494      21.0              Nippon Animation

                                                    Tags  Rating  \
0      Action, Adventure, Fantasy, Shounen, Demons, H...    4.60
1      Drama, Fantasy, Romance, Shoujo, Animal Transf...    4.60
2      Fantasy, Ancient China, Chinese Animation, Cul...    4.58
3      Action, Adventure, Drama, Fantasy, Mystery, Sh...    4.58
4      Action, Fantasy, Horror, Shounen, Dark Fantasy...    4.57
...                                                  ...     ...
18490  Action, Ancient China, Chinese Animation, Hist...    3.36
18491                                  Chinese Animation    3.36
18492  Chinese Animation, Family Friendly, Short Epis...    3.36
18493  Chinese Animation, Family Friendly, Short Epis...    3.36
18494                        Comedy, Slice of Life, Dogs    3.36

       Release_year  End_year
0            2021.0    2004.0
1            2021.0    2004.0
2            2021.0    2004.0
3            2009.0    2010.0
4            2019.0    2004.0
...             ...       ...
18490        2020.0    2004.0
18491        2010.0    2004.0
18492        2020.0    2004.0
18493        2020.0    2004.0
18494        1994.0    2004.0

[18495 rows x 9 columns]
-------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18495 entries, 0 to 18494
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          18495 non-null  int64
 1   Name          18495 non-null  object
 2   Type          18495 non-null  object
 3   Episodes      18495 non-null  float64
 4   Studio        18495 non-null  object
 5   Tags          18495 non-null  object
 6   Rating        18495 non-null  float64
 7   Release_year  18495 non-null  float64
 8   End_year      18495 non-null  float64
dtypes: float64(4), int64(1), object(4)
memory usage: 1.3+ MB

/var/folders/ws/rj33qd2n4wd6dnhh00bxth940000gp/T/ipykernel_17320/1131206635.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data = data.fillna(data.mean())

# Estandarizar la matriz X

In [19]:
dataset = np.array(data)
m, n = np.shape(dataset)
print('Rows:', m, 'Columns:', n)

Rows: 18495 Columns: 9

In [29]:
x = dataset[:, 0]
y = dataset[:, 3]

In [30]:
#Ranking
print(x)

[1 2 3 ... 18493 18494 18495]

In [31]:
#Num. episodios
print(y)

[21.0 13.0 12.0 ... 13.0 21.0 21.0]